<div class="pin" pin_id="<%=photo.id%>">
  <div class="holder">
    <div class="actions" >
      <% if user_signed_in?%>
        <%= link_to("Repin",accept_repin_home_index_path(:id => photo.id),:class =>"button repinbutton") if (current_user.id !=photo.user_id && photo.already_repinned(current_user)) %> 
         <%=link_to("Like",like_image_home_index_path(:id=>photo.id),:class=>"button likebutton",:remote=>true) unless current_user.id ==photo.user_id  %>
      <%end%>
      <a href="#" class="button comment_tr">Comment</a>
    </div>
    <%=link_to(image_tag(photo.image.url,:alt=>photo.image_file_name),show_image_home_index_path(:id=>photo.id),:pin_id=>photo.id,:class=>"image ajax")%>
      
  </div>
  <p class="desc"><%=photo.title%></p>
  <p class="info">
    <span class="LikesCount"><strong><%=photo.item_likes.size%></strong> likes</span>
    <span class="LikesCount"><strong><%=photo.repin_count%></strong> repins</span>
    <span class="CommentCount"><strong><%=photo.item_comments.size%> comments</span>
  </p>
  <%= render "shared/new_comment_form",:photo=>photo%>
</div>