<div class="pin bigpin">
  <div class="owner">
    <a href="#" class="button follow_button">Follow</a>
    <a target="_blank" class="owner_img" href="#">
      <img alt="<%=@photo.user.full_name%>" src="/assets/avatar.jpg" />
    </a>
    <p class="owner_name"><a target="_blank" href="#"><%=@photo.user.full_name%></a></p>
    <p class="owner_when">Uploaded on <%= @photo.created_at.strftime("%d %B %Y ") %></p>
  </div>
  <div class="holder">
    <% if user_signed_in?%> 
      <div class="actions">
        <a href="#" class="button">Repin</a>
        <%=link_to("Like",like_image_home_index_path(:id=>@photo.id),:class=>"button likebutton",:remote=>true) if current_user.id != @photo.user_id%>
      </div>
    <%end%>
    <a class="image" href="#" title="Photo">
      <%= image_tag(@photo.image.url,:alt=>@photo.image_file_name)%>
    </a>
  </div>
  <p class="desc">Photo <%= @photo.image_file_name %> description</p>
  <div class="comments">
      <%=render :partial=>"home/comment",:collection=>@photo.item_comments%>
  </div>  
  <%= render "shared/new_comment_form",:photo=>@photo%>
</div>